* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    max-width: 1920px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.btn-back {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.header {
    position: fixed !important;
    width: 100vw;
    height: 10vh;
    left: 0;
    top: 0;
    z-index: 1;
}

.header.scroll {
    background-color: #5E8B7E;
}

.btn-back i {
    color: #5E8B7E;
    font-size: 3rem;
}

#burger-button {
    display: none;
}

nav ul li:hover, button:hover {
    font-weight: bold;
    transition: ease-out 1s;
}

.side-bar {
    display: none;
    position: fixed;
    z-index: 2;
    background-color: #5A5A5A;
    color: #fff;
}

.side-bar .d-flex {
    padding: 2rem 1.5rem;
    align-items: center;
}

.side-bar .d-flex nav ul li {
    margin-bottom: 1.5rem;
}

.side-bar.active {
    display: block;
}

.bi-list {
    font-size: 2rem;
    position: relative;
    z-index: 3;
}

p {
    font-size: 14px;
    margin-bottom: 24px;
}

h1 {
    font-size: 64px;
    margin-bottom: 24px;
}

h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
    color: #080B10;
}

h4 {
    font-size: 18px;
}

.container {
    padding: 1.5rem 10rem;
    width: 100%;
    box-sizing: border-box;
}

.container-header {
    padding: 3rem 4rem;
    width: 100%;
    box-sizing: border-box;
}

.content {
    margin-bottom: 4rem;
    gap: 24px;
}

.content-no-gap {
    margin-bottom: 4rem;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

button {
    padding: 1rem 1.25rem;
    border-radius: 25px;
    background-color: #5E8B7E;
    color: #fff;
    border: none;
}

header {
    width: 100%;
    color: #fff !important;
    margin-bottom: 4rem;
}

.bg-header img {
    width: 100%;
}

.navbar {
    gap: 4rem;
}

.navbar .brand {
    gap: 1rem;
}

.navbar .brand p {
    margin: 0 !important;
}

.navbar nav ul {
    gap: 15px;
}

.content-hero {
    margin: 8rem 0;
    width: 80%;
    align-items: flex-start;
}

.dots div {
    background-color: #fff;
    opacity: 0.6;
    width: .5rem;
    height: .5rem;
    border-radius: 10px;
    margin: 0 .3rem;
}

.active {
    opacity: 1 !important;
}

.content article p {
    color: #969696;
}

.content article img {
    margin-bottom: 24px;
}

.content article a {
    color: #5E8B7E;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.bg-green {
    background-color: #F7FBFA;
    width: 100%;
    padding: 60px 150px 58px 40px;
    box-sizing: content-box;
}

.bg-green-2 {
    background-color: #F7FBFA;
    width: 100%;
    padding: 60px 0;
}

.bg-green img {
    margin-right: .5rem !important;
}

.bg-green p {
    color: #5A5A5A;
}

.class {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
    margin-top: 1rem;
}

.class article {
    border: solid 1px #E2E2E2;
    border-radius: 15px;
    padding: 24px 54.5px;
}

.content .image {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 5px;
}

.Artikel-left, .Artikel-rigth, .Artikel-top, .Artikel-bottom {
    gap: 20px;
}

.Artikel-top p, .Artikel-top h4, .Artikel-bottom p, .Artikel-bottom h4 {
    margin-bottom: .5rem !important;
}

.content-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7FBFA;
    padding: 4rem 0;
}

.content-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 42px;
    margin-bottom: 40px;
    transform: translateX(-235px);
}

footer {
    background-color: #0E2123;
    padding: 92px 150px 24px 150px;
    color: #fff;
}

.brand-footer {
    gap: 5px;
    margin-bottom: 42px;
}

.brand-footer p {
    margin: 0 !important;
}

.item1 {
    width: 18rem;
}

.item1 ul {
    width: 10rem;
    justify-content: space-between;
}

.item2 ul, .item3 ul {
    gap: 24px;
}

.top, .bottom {
    align-items: flex-start;
    gap: 5px;
}

.top p, .bottom p {
    margin-bottom: 8px !important;
}

.item4 {
    width: 16rem;
}

@media only screen and (max-width: 414px) and (min-width: 312px){

    html, body {
        max-width: 414px;
        overflow-x: hidden;
        width: auto;
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 28px;
    }

    .content-hero {
        width: 100%;
        margin-top: 8rem;
        margin-bottom: 1.25rem;
    }

    article {
        margin-bottom: 1.75rem;
    }

    header {
        width: 100%;
        height: 100vh;
        margin-bottom: 1.5rem;
    }

    .bg-header, .bg-header img {
        height: 100%;
        width: auto;
    }

    .container {
        padding: 1rem 1rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .header nav, .header .button {
        display: none;
    }

    #burger-button {
        display: block;
    }

    .content, .content-no-gap {
        display: flex;
        flex-direction: column;
    }

    .bg-green {
        width: auto;
        padding: 60px 25px 58px 20px;
        box-sizing: content-box;
    }

    .content .class {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto !important;
    }

    .class article {
        padding: 18px 25px;
        margin: auto;
    }

    .content .image {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin: 0 auto;
    }

    .Artikel-left, .Artikel-rigth, .Artikel-top, .Artikel-bottom {
        gap: 12px;
    }

    .Artikel-left img {
        width: 100%;
        object-position: cover;
    }

    .Artikel-rigth, .Artikel-top, .Artikel-bottom {
        display: contents;
        width: 100vw;
        margin: 0 auto;
    }

    .Artikel-left {
        display: block;
    }

    .content-gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        transform: translateX(0);
    }

    .content-gallery img {
        width: 100%;
        object-position: cover;
    }

    footer {
        padding: 50px 25px 24px 25px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        gap: 8px;
        margin: 1.5rem auto;
    }
}

@media only screen and (max-width: 640px) and (min-width: 414px) {

    html, body {
        max-width: 640px;
        overflow-x: hidden;
        width: auto;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    article {
        margin-bottom: 1.75rem;
    }

    header {
        width: 100%;
        height: 100vh;
        margin-bottom: 1.5rem;
    }

    .bg-header, .bg-header img {
        height: 100%;
        width: auto;
    }

    .container {
        padding: 1rem 1rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .header nav, .header .button {
        display: none;
    }

    #burger-button {
        display: block;
    }

    .content-hero {
        margin: 2.5rem 0;
    }

    .content, .content-no-gap {
        display: flex;
        flex-direction: column;
    }

    .bg-green {
        width: auto;
        padding: 60px 25px 58px 20px;
        box-sizing: content-box;
    }

    .content .class {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto !important;
    }

    .class article {
        padding: 18px 25px;
        margin: auto;
    }

    .content .image {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin: 0 auto;
    }

    .Artikel-left, .Artikel-rigth, .Artikel-top, .Artikel-bottom {
        gap: 12px;
    }

    .Artikel-left img {
        width: 100%;
        object-position: cover;
    }

    .Artikel-rigth, .Artikel-top, .Artikel-bottom {
        display: contents;
        width: 100vw;
        margin: 0 auto;
    }

    .Artikel-left {
        display: block;
    }

    .content-gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        transform: translateX(0);
    }

    .content-gallery img {
        width: 100%;
        object-position: cover;
    }

    footer {
        padding: 50px 25px 24px 25px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        gap: 8px;
        margin: 1.5rem auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 640px) {

    html, body {
        max-width: 768px;
        overflow-x: hidden;
        width: auto;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    article {
        margin-bottom: 1.75rem;
    }

    header {
        width: 100%;
        height: 100vh;
        margin-bottom: 1.5rem;
    }

    .bg-header, .bg-header img {
        height: 100%;
        width: auto;
    }

    .container {
        padding: 2rem 2rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .header nav, .header .button {
        display: none;
    }

    #burger-button {
        display: block;
    }

    .content-hero {
        margin: 6rem 0;
    }

    .content, .content-no-gap {
        display: flex;
        flex-direction: column;
    }

    .bg-green {
        width: auto;
        padding: 60px 25px 58px 20px;
        box-sizing: content-box;
    }

    .content .class {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto !important;
    }

    .class article {
        padding: 18px 25px;
        margin: auto;
    }

    .content .image {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin: 0 auto;
    }

    .Artikel-left, .Artikel-rigth, .Artikel-top, .Artikel-bottom {
        gap: 12px;
    }

    .Artikel-left {
        display: block;
    }

    .content-gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        transform: translateX(0);
    }

    footer {
        padding: 50px 25px 24px 25px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        gap: 8px;
        margin: 1.5rem auto;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    html, body {
        max-width: 1024px;
        overflow-x: hidden;
        width: auto;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    article {
        margin-bottom: 1.75rem;
    }

    header {
        width: 100%;
        height: 100vh;
        margin-bottom: 1.5rem;
    }

    .bg-header, .bg-header img {
        height: 100%;
        width: auto;
    }

    .container {
        padding: 3rem 4rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .header nav, .header .button {
        display: none;
    }

    #burger-button {
        display: block;
    }

    .content-hero {
        margin: 6rem 0;
    }

    .content-no-gap {
        display: flex;
        flex-direction: column;
    }

    .bg-green {
        width: auto;
        padding: 60px 80px 60px 80px;
        box-sizing: content-box;
    }

    .content .class {
        display: flex;
        align-items: center;
    }

    .class article {
        padding: 18px 25px;
        margin: auto;
    }

    .content .image {
        margin: auto 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Artikel-left, .Artikel-rigth, .Artikel-top, .Artikel-bottom {
        gap: 12px;
    }

    .Artikel-left {
        display: block;
    }

    .content-gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        transform: translateX(0);
        gap: 0px;
    }

    footer {
        padding: 50px 25px 24px 25px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 8px;
        margin: 1.5rem auto;
    }
}
@media screen and (max-width: 1280px) and (min-width: 1024px) {

    html, body {
        max-width: 1280px;
        overflow-x: hidden;
        width: auto;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    article {
        margin-bottom: 1.75rem;
    }

    header {
        width: 100%;
        height: 100vh;
        margin-bottom: 2.5rem;
    }

    .bg-header, .bg-header img {
        height: 100%;
        width: auto;
    }

    .container {
        padding: 3rem 3rem;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .header nav, .header .button {
        display: none;
    }

    #burger-button {
        display: block;
    }

    .content-no-gap {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .content .image {
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .Artikel-left {
        display: flex;
        align-items: flex-start;
    }

    .Artikel-top, .Artikel-bottom {
        display: contents;
    }

    .bg-green {
        width: auto;
        padding: 50px 60px;
        box-sizing: content-box;
    }

    .class article {
        padding: 25px 35px;
        margin: auto;
    }

    .content-gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        transform: translateX(0);
        gap: 0;
    }

    footer {
        padding: 50px 25px 24px 25px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 8px;
        margin: 1.5rem auto;
    }
}